.body-of-canvas {
    position: relative;
}
.empty-btn-div {
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
}
.empty-btn {
    color: #ffffff;
    width: 30%;
    margin: 10px;
    padding: 10px 0;
    transition: 0.7s ease;
    border-radius: 10px;
}
.empty-btn:hover {
    background-color: #AB3903;
}
.checkout-btn-div {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.checkout-btn {
    padding: 10px 0px;
    width: 100%;
    margin: 10px;
    transition: 0.7s ease;
    border-radius: 10px;
}
.checkout-btn a {
    text-decoration: none;
    color: #ffffff;
}
.checkout-btn:hover {
    background-color: #AB3903;
}
    